.explainability-page {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #ebf8ff, #faf5ff);
  background-attachment: fixed;
}

.explainability-container {
    padding-top: 4rem;
}