.home-page {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #ebf8ff, #faf5ff);
  background-attachment: fixed;
}

.home-container {
  padding-top: 4rem;
}

.features-grid {
  width: 80%;
}
